<?xml version='1.0' encoding='utf-8'?>
<widget id="org.lywam.tours.phonegap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Woodson Art</name>
    <description>The Woodson Art Museum’s audio tour app offers insights into artworks on view.</description>
    <author email="museum@lywam.org" href="https://www.lywam.org">LYWAM Team</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
